
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/common.css">
    <link rel="stylesheet" href="../css/index.css">
    <link rel="stylesheet" href="../css/lunbotu.css">
    <link rel="stylesheet" href="../lib/font-awesome/font-awesome-4.7.0/css/font-awesome.min.css">
    <script src="../lib/jQuery.js"></script>
</head>

<body>
    <div class="containter">
        <div class="containter_left">
            <div class="left_title">
                Linux实训
            </div>
            <div class="logo">
                <img src="../images/logo.png">

            </div>
            <ul class="nav">
                <li>
                    <a href="javascript:;">
                        <i class="fa fa-home fa-fw"></i>
                        <p>首页&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>
                    </a>
                </li>
                <li>
                    <a href="./process.html">
                        <i class="fa fa-cog fa-fw"></i>
                        <p>流程管理</p>
                    </a>
                </li>
                <li>
                    <a href="./data.html">
                        <i class="fa fa-paperclip"></i>
                        <p>资料管理</p>
                    </a>
                </li>
                <li>
                    <a href="./manuscripts.html">
                        <i class="fa fa-edit"></i>
                        <p>文稿管理</p>
                    </a>
                </li>
                <li>
                    <a href="./organization.html">
                        <i class="fa fa-user"></i>
                        <p>组织管理</p>
                    </a>
                </li>
            </ul>
        </div>
        <div class="top_nav">
            <p>社团管理系统<span>计算机181</span></p>
            <div class="register">
                <i class="fa fa-user-o" id="r_login"></i>
                <i class="fa fa-cloud-download"></i>
                <span class="register_pic">
                    <img src="../images/left_lunbo1.png" alt="">
                </span> 
                <!-- 图片弹窗-->
                <div id="picPopup" class="model">
                    <div class="model-content">
                        <!-- 弹窗内容 -->
                        <span class="close">&times;</span>
                        <img src="../images/left_lunbo1.png" alt="">
                    </div>
                </div>
            </div>
        </div>
        <div class="containter_right">
            <div class="right_top">
                <div class="right_top_left">
                    <div class="text_left top_text">
                        <span>新闻 news</span>
                        <span class="top_text_right">more</span>
                    </div>
                    <div class="left_main_content">
                        <!--轮播图边框-->
                        <div id="playBox" class="play-box">
                            <!--图片列表-->
                            <div id="imgList">
                                <a href="#" target="_blank" class="current">
                                    <img src="../images/left_lunbo1.png" />
                                </a>
                                <a href="#" target="_blank">
                                    <img src="../images/left_lunbo2.png" />
                                </a>
                                <a href="#" target="_blank">
                                    <img src="../images/left_lunbo3.png" />
                                </a>
                                <a href="#" target="_blank">
                                    <img src="../images/left_lunbo4.png" />
                                </a>
                                <a href="#" target="_blank">
                                    <img src="../images/left_lunbo5.png" />
                                </a>
                            </div>

                            <!--左箭头-->
                            <div class="sliderbar slidebar-left">
                                &lt;</div>
                            <!--右箭头-->
                            <div class="sliderbar slidebar-right">&gt;</div>
                        </div>

                        <div class="bottom_text_left bottom_text">
                            <ul>
                                <li><button>新闻</button>测试内容<span id="timer"></span></li>
                                <li><button>新闻</button>测试内容<span id="timer">2020/6/29&nbsp;15:45</span></li>
                                <li><button>新闻</button>测试内容<span id="timer">2020/6/29&nbsp;15:45</span></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="right_top_right">
                    <div class="text_right top_text">
                        <span>公告 notice</span>
                        <span class="top_text_right">more</span>
                    </div>
                    <div class="right_main_content">
                    <div class="notice_pic">
                        <span class="notice_title">2020年信息技术学院返校通知</span>
                        <span class="notice_content">信息技术学院于8月30号返校</span>
                        <div class="notice_bottom">
                            <p>&copy;组织部</p>
                            <p id="timer"></p>
                        </div>
                    </div>
                    <div class="notice">
                        <ul id="notice_click">
                            <li id="notice_1"><button>公告</button>测试内容<span id="timer"></span></li>
                            <li id="notice_2"><button>公告</button>测试内容<span id="timer">2020/6/29&nbsp;15:45</span></li>
                        </ul>
                    </div>
                    <div class="bottom_text_right bottom_text"></div>
                </div>
            </div>
            </div>
            <div class="right_bottom">
                <div class="bottom_title">
                    <span>我的事务</span>
                    <span class="bottom_title_right">more</span>
                </div>
                <div class="bottom_main">
                    <span>
                        <dl>
                            <dt>主题</dt>
                            <dd>测试内容</dd>
                            <dd>测试内容</dd>
                            <dd>测试内容</dd>
                            <dd>测试内容</dd>
                            <dd>测试内容</dd>
                        </dl>
                    </span>
                    <span>
                        <dl>
                            <dt>类型</dt>
                            <dd>测试内容</dd>
                            <dd>测试内容</dd>
                            <dd>测试内容</dd>
                            <dd>测试内容</dd>
                            <dd>测试内容</dd>
                        </dl>
                    </span>                    
                    <span id="bottom_time">
                        <dl>
                            <dt>申请时间</dt>
                            <dd id="b_timer"></dd>
                            <dd id="b_timer"></dd>
                            <dd id="b_timer"></dd>
                            <dd id="b_timer"></dd>
                            <dd id="b_timer"></dd>
                        </dl>
                    </span>
                    <span>
                        <dl>
                            <dt>审核人</dt>
                            <dd>测试内容</dd>
                            <dd>测试内容</dd>
                            <dd>测试内容</dd>
                            <dd>测试内容</dd>
                            <dd>测试内容</dd>
                        </dl>
                    </span>
                    <span>
                        <dl>
                            <dt>状态</dt>
                            <dd>测试内容</dd>
                            <dd>测试内容</dd>
                            <dd>测试内容</dd>
                            <dd>测试内容</dd>
                            <dd>测试内容</dd>
                        </dl>
                    </span>
                </div>
            </div>
        </div>
    </div>

    <script src="../js/skip.js"></script>
    <script src="../js/lunboImage.js"></script>
    <script src="../js/time.js"></script>
    <script src="../js/notice.js"></script>
    <script src="../js/registerPic.js"></script>
</body>

</html>