<!-- 组织管理页面 -->

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/common.css">
    <link rel="stylesheet" href="../css/organization.css">
    <link rel="stylesheet" href="../lib/font-awesome/font-awesome-4.7.0/css/font-awesome.min.css">
    <script src="../lib/jQuery.js"></script>
</head>

<body>
    <div class="containter">
        <div class="containter_left">
            <div class="left_title">
                Linux实训
            </div>
            <div class="logo">
                <img src="../images/logo.png">

            </div>
            <ul class="nav">
                <li>
                    <a href="./index.html">
                        <i class="fa fa-home fa-fw"></i>
                        <p>首页&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>
                    </a>
                </li>
                <li>
                    <a href="./process.html">
                        <i class="fa fa-cog fa-fw"></i>
                        <p>流程管理</p>
                    </a>
                </li>
                <li>
                    <a href="./data.html">
                        <i class="fa fa-paperclip"></i>
                        <p>资料管理</p>
                    </a>
                </li>
                <li>
                    <a href="./manuscripts.html">
                        <i class="fa fa-edit"></i>
                        <p>公文管理</p>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="fa fa-user"></i>
                        <p>组织管理</p>
                    </a>
                </li>
            </ul>
        </div>
        <div class="top_nav">
            <p>社团管理系统<span>计算机181</span></p>
            <div class="register">
                <i class="fa fa-user-o" id="r_login"></i>
                <i class="fa fa-cloud-download"></i>
                <span class="register_pic">
                    <img src="../images/left_lunbo1.png" alt="">
                </span> 
                <!-- 图片弹窗-->
                <div id="picPopup" class="model">
                    <div class="model-content">
                        <!-- 弹窗内容 -->
                        <span class="close">&times;</span>
                        <img src="../images/left_lunbo1.png" alt="">
                    </div>
                </div>
            </div>
        </div>

        <!-- 中间内容标题 -->
        <div class="content_title">
            <span>部门&nbsp;department</span>
            <span class="btn btn1"><a href="#">新建</a></span>
            <span class="person">人员&nbsp;employee</span>
            <span class="btn btn2"><a href="#">新建</a></span>
        </div>
        <!-- 中间内容 -->
        <div class="content">
            <div class="content_left">
                <table class="depart_table" cellspacing="10">
                    <tr>
                        <th>部门编号</th>
                        <th>部门名称</th>
                        <th>所属组织</th>
                        <th colspan="2">操作</th>
                    </tr>
                    <tr>
                        <td>测试内容</td>
                        <td>测试内容</td>
                        <td>测试内容</td>
                        <td>修改</td>
                        <td>删除</td>
                    </tr>
                    <tr>
                        <td>测试内容</td>
                        <td>测试内容</td>
                        <td>测试内容</td>
                        <td>修改</td>
                        <td>删除</td>
                    </tr>
                    <tr>
                        <td>测试内容</td>
                        <td>测试内容</td>
                        <td>测试内容</td>
                        <td>修改</td>
                        <td>删除</td>
                    </tr>
                </table>
            </div>
            <div class="content_right">
                <div class="search">
                    <div class="search_input">
                        <input type="text">
                    </div>
                    <div class="search_search">
                        <i class="fa fa-search"></i>
                    </div>
                </div>
                <div class="person_table">
                    <table cellspacing="13">
                        <tr>
                            <th>姓名</th>
                            <th>部门名称</th>
                            <th>职位</th>
                            <th>年级</th>
                            <th>专业</th>
                            <th>班级</th>
                            <th colspan="2">操作</th>
                        </tr>
                        <tr>
                            <td>测试内容</td>
                            <td>测试内容</td>
                            <td>测试内容</td>
                            <td>测试内容</td>
                            <td>信息技术学院管理系统</td>
                            <td>测试内容</td>
                            <td>修改</td>
                            <td>删除</td>
                        </tr>
                        <tr>
                            <td>测试内容</td>
                            <td>测试内容</td>
                            <td>测试内容</td>
                            <td>测试内容</td>
                            <td>信息技术学院管理系统</td>
                            <td>测试内容</td>
                            <td>修改</td>
                            <td>删除</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <script src="../js/skip.js"></script>
    <script src="../js/time.js"></script>
    <script src="../js/registerPic.js"></script>
</body>

</html>