<!-- 注册界面 -->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="..//css/register.css">
</head>
<body>
  
  <div class="containter">  
    <div class="title">注册界面</div>
    <div class="myform">
    <form action="#" method="POST">
      <label for="phone">手机号码:
        <input type="text" id="phone" name="phone" 
        placeholder="请输入您的手机号码">
      </label><br>
      <label for="password">密&nbsp;&nbsp;&nbsp;&nbsp;
        &nbsp;&nbsp;码:
        <input type="text" id="password" name="password"
        placeholder="请输入您的密码">
      </label><br>
      <label for="aginpw">确认密码:
        <input type="text" id="aginpw" name="aginpw"
        placeholder="请再次输入您的密码">
      </label><br>
      <label for="vCode">验&nbsp;&nbsp;证&nbsp;码:
        <input type="text" id="vCode" name="vCode" 
        placeholder="请输入验证码">
      </label>
      <!-- <label for="register">
        <a href="./views/login.html"><input type="submit" value="注册" id="submit"></a>
      </label> -->
      
      
    </form>
    <a href="./views/login.htmlx"></a>
  </div>  
  </div>
  
</body>
</html>